.flex{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}
.nav {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.367);
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
    margin: 0 auto;
  }
  
  .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
  }
  
  .nav a:hover {
    background: transparent;
    color: rgb(0, 247, 255);
  }
  
  .nav  a.active {
    color: rgb(0, 247, 255);
  }

  ul{
    display: flex;
    margin: 0 auto;
    margin-block-start: 0;
  }
  li{
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
  }
  